body {
  margin: 0;
  background: #ffffff;
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
}
.stopfade {
   opacity: .5;
}

#main_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 80%;
  min-height: 80%;
  width: auto;
  height: auto;
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100;
  background-position: center;
  background-image: url('assets/logo1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ffffff;
  color: white;
  margin: 10%;
  font-size: 1.2rem;
}
#main_wrapper #main_content{
  padding: 4rem;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
#main_wrapper button {
  position: absolute;
  bottom: 10%;
  right: 10%;
  display: block;
  width: 21rem;
  max-width: 80%;
  padding: .8rem;
  border: none;
  font-size: 1.3rem;
  background: rgba(0,0,0,0.3);
  color: #fff;
  border-radius: 0;
  cursor: pointer;
  transition: ease-in-out 0.8s;
}
#main_wrapper button:nth-child(2){
    bottom: 10%;
}
#main_wrapper button:nth-child(3){
    bottom: 20%;
}
#main_wrapper button:hover {
   background: rgba(0,0,0,0.6);
}
.socials{
  text-align: right;
}
a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  opacity: 0.3;
  padding: .5rem;
  transition: ease-in-out 0.8s;
}
a:hover{
  opacity: 0.6;
}
a img{
  width: 4rem;
}

#video_player{
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.5);
  visibility: hidden;
  opacity: 0;
  transition: ease-in-out 0.8s;
}
#video_player iframe{
  right: 50%;
  top: 50%;
  margin-right: -280px;
  margin-top: -158px;
  position: absolute;
}


@media screen and (max-width: 714px) {
  #video_player iframe{
    width: 80%;
    height: 40%;
    right: 10%;
    margin-right: 0;
  }
}



@media screen and (max-width: 502px) {
  #main_wrapper{
    background-image: url('assets/logo.png');
  }
  #main_wrapper #main_content{
    padding: 2rem;
  }
  .socials{
    text-align: center;
  }
}
